%h1 Tweets

%div.well
  This is a sample page showing last 10 tweets from the database.

%div{:class => 'alert-message info'}
  Currently we have <strong>#{@total}</strong> tweets in our database

%h3 Last 10 tweets

%a{:href => '/tweets', :class => "btn primary", :style => 'margin-bottom:1em'}
  Refresh

%table#tweetsTable
  %thead
    %tr
      %th ID
      %th Username
      %th Message

  %tbody
    = @tweets.each do |tweet|
      %tr
        %td= tweet.id
        %td
          %strong= tweet.username
        %td
          %pre= tweet.message

:javascript
  $(document).ready(function() {
    $("table#tweetsTable").tablesorter( {sortList: [[1,0]]} );
  });

